<p class="payment_module">
	<a href="{$this_path_ssl}validation.php" title="{l s='BilderlingsPay' mod='BilderlingsPay'}">
		<img src="{$this_path_bw}bankwire.jpg" alt="{l s='Pay with BilderlingsPay' mod='BilderlingsPay'}" width="86" height="49"/>
		{l s='Pay with BilderlingsPay' mod='BilderlingsPay'}&nbsp;<span>{l s='(order processing will be longer)' mod='bankwire'}</span>
	</a>
</p>
