

<p class="payment_module">
	<a href="{$this_path_ssl}validation.php" title="{l s='BilderlingsPay' mod='BilderlingsPay'}" style="padding-left: 15px;">
		<img src="/modules/BilderlingsPay/logo.jpg" alt="{l s='Pay with BilderlingsPay' mod='BilderlingsPay'}" width="49" height="49"/>
		{l s='Pay with BilderlingsPay' mod='BilderlingsPay'}
	</a>
</p>